$red: #b11f1d;
$primary: $red;
$green: #5cb85c;
$yellow: #f0ad4e;
$blue: #5bc0de;
$danger: #d9534f;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$font-family-sans-serif: Oswald;
$font-family-monospace: "Source Code Pro", monospace;
$font-weight-base: 300;
$font-family-base: Merriweather;
