$red: #b11f1d;
$primary: $red;
$green: #5cb85c;
$yellow: #f0ad4e;
$blue: #5bc0de;
$danger: #d9534f;
$font-family-sans-serif: Oswald;
$font-family-monospace: Source Code Pro;
$font-family-base: Merriweather;
